<%- include('../partials/head') %>
<div class="container">
    <h1>Our Story</h1>
    <p>Founded by John Food in 1999, we are dedicated to serving food.</p>
    <img class="home-images" src="https://th.bing.com/th/id/R.7bf99398ca05c8d01a147fcecdd19ad4?rik=DCOYdR%2bZo5Muzw&riu=http%3a%2f%2fmedia.architecturaldigest.com%2fphotos%2f55e7944b302ba71f3017f67d%2fmaster%2fpass%2fdam-images-travel-waterfront-restaurants-waterfront-restaurants-07.jpg&ehk=qlE5XNzAaIdWNJXOYp3t6hh1Pc8iV2Zmaxk6ZUElFNM%3d&risl=&pid=ImgRaw&r=0">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ex purus, ullamcorper eget arcu at, aliquet
        convallis dui. Nullam semper purus vitae erat facilisis, ut pretium nunc suscipit. Donec eu lectus volutpat,
        euismod orci vel, laoreet mauris. Nullam ac ullamcorper dolor. Curabitur mattis mauris et arcu rhoncus
        sollicitudin. Proin ultricies risus libero, et finibus felis auctor nec. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Sed semper malesuada fringilla.</p><br>
    <p>Aliquam in sapien condimentum, tincidunt leo id, porta tellus. Phasellus interdum laoreet tempor. Etiam mi lorem,
        malesuada sed aliquet et, porttitor sed felis. Proin urna felis, condimentum at ante id, placerat volutpat est.
        Morbi ac porta orci, lobortis sagittis felis. Nam varius, arcu quis pretium mollis, lectus ligula interdum
        lacus, id lobortis lacus eros tempor dui. Vestibulum sollicitudin elementum neque. Nulla ac nibh vehicula,
        rhoncus augue eget, auctor mi.</p>
</div>
    

    <%- include('../partials/foot') %>