<%- include('../partials/head') %>
<div class="card"  id="reservation-form">
  <h1>Make a Reservation</h1>
  <p>We’d love to have you visit.</p>
  <form class="card" method="post" action="#" >
    <label>Name<br><input type="text" placeholder="Your name" required></label><br><br>
    <label>Email<br><input type="email" placeholder="you@example.com" required></label><br><br>
    <label>Reservation Date<br><input type="date"> </input></label><br><br>
    <label>Reservation Time<br><input type="time"> </input></label><br><br>
    <button class="btn" type="submit" disabled>Submit</button>
  </form>
</div>
<%- include('../partials/foot') %>
