<%- include('../partials/head') %>

        <h1 id="welcome" class="fancy-font">Welcome to the Bestaurant</h1>


    <div class="home-container">
        <h2 class="home-captions">Ebullient Atmosphere</h2>
        <img class="home-images"
            src="https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2021/07/08/c757d24db5884454ad98ce963383355e_Alain-Ducasse-Macau.jpg">
    </div>
    <div class="home-container">
        <img class="home-images" src="https://i.pinimg.com/originals/d7/23/9a/d7239a8d8e122ed85efd7ae7388ab23b.jpg">

        <h2 class="home-captions">Excellent Food</h2>
    </div>
    <div class="home-container">

        <h2 class="home-captions">Exuberant Service</h2>
        <img class="home-images"
            src="https://media.istockphoto.com/id/585768982/photo/waiter-in-tuxedo-holding-metal-empty-tray-and-napkin.jpg?s=612x612&w=0&k=20&c=TsSBP07lzTKSjmlGA0qju6vb3uIUXiI1YN8a2C-chb4=">

    </div>
    <h2>Make a reservation in our contact tab.</h2>
    <br>
    <%- include('../partials/foot') %>