<%- include('../partials/head') %>
<h1>Menu Options</h1>
<div id="menu-container">
    <img src="https://image.seapik.com/template/edit/20240427/sm/seafood-restaurant-menu-with-blue-line-art-style_38622.jpg" id="menu">
</div>

<h2><u>Specials</u></h2>
<div class="container" id="specials-container">
    <div class="card specials"><p>Lobster Boiled in Volcano</p></div>
<div class="card specials"><p>Alien Steaks</p></div>
<div class="card specials"><p>French Fries</p></div>
</div>
</div>

<%- include('../partials/foot') %>
